* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-content: center;
}
.ballooncontainer {
  width: 800px;
  height: 800px;
  background-color: skyblue;
  position: relative;
}
.balloon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  background-color: white;
  position: absolute;
}
