* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-content: center;
  padding-top: 5%;
  font-family: "Ubuntu", sans-serif;
  background-color: #e98a15;
}
/* display flex of space-between sånn at hjertet, score og highscore er fordelt.  */
.scorecontainer {
  display: flex;
  justify-content: space-between;
}
/* ballongcontaineren, setter display grid og place content senter sånn at knappen og select alltid havner midt i boksen. */
.ballooncontainer {
  width: 700px;
  height: 700px;
  background-color: black;
  position: relative;
  display: grid;
  place-content: center;
  gap: 10px;
}
.heartcontainer {
  display: flex;
  gap: 10px;
}
/* fast størrelse for hjertebildet. */
.heart {
  width: 48px;
  height: 48px;
}
/* styling til knappen som blir laget i JS */
.btn {
  font-size: 48px;
  padding: 0.5em 1em;
  border: 0;
  background: snow;
  border-radius: 1em;
  font-family: inherit;
  transition: 300ms ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background: green;
  color: snow;
}
.btn:focus,
.selector:focus {
  outline: 0;
  box-shadow: 4px 4px 0 black;
}
/* styling til ballongene, display grid, sånn at bokstavene kommer i senter. */
.balloon {
  display: grid;
  place-content: center;
  font-size: 24px;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 50%;
  background: radial-gradient(circle at 0%, snow 66%, grey);
  position: absolute;
  font-weight: bold;
}
/* class som blir applied til ballongene når de "popper" */
.popped {
  animation: poppedBalloon 1s ease-in-out;
}
@keyframes poppedBalloon {
  10% {
    transform: translateY(-50px);
    background: red;
    color: white;
  }
  40% {
    opacity: 0%;

    transform: translateY(200px);
    transform: rotate(90deg);
  }
}
.selector {
  padding: 0.5em 1em;
  background: snow;
  border: 0;
  border-radius: 1em;
  font-size: 24px;
  font-family: inherit;
  transition: 300ms ease-in-out;
}
.selector:hover {
  cursor: pointer;
}
